/* Bigger text cant see mode */

/* Font sizes */
.larger-fonts h1 {
    font-size: 4.75em;
}

.larger-fonts h2 {
    font-size: 3.625em;
}

.larger-fonts h3 {
    font-size: 3em;
}

.larger-fonts p {
    font-size: 23px;
}

.larger-fonts .services.section .services-list .service-single .service-title {
    font-size: 2.33em;
}

.larger-fonts .before-header {
    font-size: 1.2em;
}

.larger-fonts .navbar-default .navbar-nav>li>a {
    font-size: 26px;
}

.larger-fonts .footer-upper .widget .menu [class*='menu-item'] {
    font-size: 1.2em;
}

.larger-fonts .footer-upper .widget h3 {
    font-size: 2em;
}


/* Black and white color blind mode */

/* Headers */
.black-and-white h1, .black-and-white h2, .black-and-white h3, 
.black-and-white h4, .black-and-white h5, .black-and-white h6 {
    color: #000 !important;
}

.black-and-white .before-header {
    color: #000;
}

/* Menu */
.black-and-white .text-right {
    color: #000;
}

.black-and-white .navbar-default .navbar-nav>li>a {
    color: #000;
}

/* Hero */
.black-and-white .hero p {
    color: #000;
}

.black-and-white .hero:before{
    opacity: 1 !important;
}

/* Buttons */
a.btn.btn-primary.access {
    padding: 0.4em 2em;
}

li#text-3 {
    text-align: right;
}

.black-and-white .btn.btn-primary {
    background-color: #000;
}

.black-and-white .btn.btn-light {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.black-and-white .btn.btn-ghost-dark {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}

.black-and-white .btn.btn-ghost-dark:hover {
    background-color: #333;
}

/* Introduction */
.black-and-white .introduction-wrap h2 {
    color: #fff !important;
}


/* Services */
.black-and-white .services p {
    color: #000;
}

.black-and-white .services.section .services-list .service-single .service-title a {
    color: #000;
}

.black-and-white .services.section .services-list .service-single 
.service-title .svg-inline--fa {
    opacity: 1;
}


/* Location */
.black-and-white .bg-color-primary {
    background-color: #000;
}

.black-and-white .bg-color-primary:before {
    background-color: #000;
    opacity: 1;
}
.black-and-white .text-block-inner h3 {
    color: #fff !important;

}

.black-and-white .location *{
    color: white !important;
}

/* Call To Action */
.black-and-white .call-to-action.section .icon svg {
    color: #000;
}

.black-and-white .call-to-action p {
    color: #000;
}


/* Footer */
.black-and-white .site-footer {
    background-color: #000;
}

.black-and-white .site-footer h3 {
    color: #fff !important;
}

