.site-main {
	padding-top: 65px;
	padding-bottom: 90px;
}

.site-header {
    margin-bottom: 0px;
}

.home .site-main {
	padding-top: 0px;
	padding-bottom: 0px;
}

body {
	background-color: #fff;
}

.inside-header {
    text-align: center;
    background-color: #8086AD;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #fff;
} 

.resume-info {
    width: 70%;
}

.resume-info .thumbnail {
    border: none;
}

/* Styles */
.button {
    padding: 11px 45px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid;
    white-space: nowrap;
    line-height: 1.42857;
    user-select: none;
    margin-top: 15px;
    transition: .5s all ease-out;
    border-radius: 25px;
}



.wrapper {
	padding-top: 65px;
	padding-bottom: 65px;
}


/* Hero */
.hero-wrap {
    background-color: #E6EDFF;
}

.hero-inner {
	padding-left: 15px;
    padding-right: 15px;
}


/* Introduction */
.introduction-wrap {
    background-color: #8086AD;
    color: #fff;
}


/* Services */
.service-wrap {
	text-align: center;
}


/* Partners */
.partners-wrap h2 {
	text-align: center;
}



.partners-wrap img {
    margin-left: auto;
    margin-right: auto;
}


.location-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


@media only screen and (min-width: 992px) {
	.location-map {
	    width: 50%;
	}
}

.location-desc {
    background-color: #8086AD;
    text-align: center;
    width: 100%;
}

.location-desc-inner {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 992px) {
	.location-desc {
	    width: 50%;
	}
}

.location-desc-inner {
	width: 50%;
}

/* Call to Action */
.cta-wrap {
	text-align: center;
}

.phone-style {
	font-size: 80px;
	color: #8086AD;
}



/* Testimonials */
.testimonials-single {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid;
    
}


/* Contact Us */
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
	display: none;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    width: 100%;
}



/* Footer */
.site-footer {
	position: relative;
	background-color: #8086AD;
	color: #fff;
}

.site-footer a {
	color: #fff;
}

.widget-inner ul {
    list-style-type: none;
    padding: 0px;
}