/* ******************* *//* ******************* */
/* California Orbital Consultants Style Guide */
/* ******************* *//* ******************* */


/* ******************* */
/* General Elements */
/* ******************* */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');

html {
  font-size: 18px;
  
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {  
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 18px;
  color: #595959;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0; 

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 400;
  color: #495a6a;
  letter-spacing: -0.033em;
  line-height: 1.125;
  margin-bottom: 24px;
  margin-top: 0;
}

h1 { font-size: 3.75em; }
h2 { font-size: 2.625em;}
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1em; }
h6 { font-size: 0.66em; }


p {
  font-weight: 500;
  line-height: 1.625;
}

p.text, p.none, p.desc, p.intro, p.final {
  margin-bottom: 1.5em;
  font-weight: 500;
  line-height: 1.625;
}

p.intro {
  font-size: 18px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

p.lead {
  font-size: 1.125em;
  opacity: 1;
}

strong, b {
  font-weight: 700;
}

a {
  color: #5F689C;
}
a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}
p a {
  border-bottom: 1px dotted currentColor;
  padding-bottom: 0.05em;
  transition: .2s ease-in-out;
}

p a.no-underline{
  border-bottom: none;
  padding-bottom: 0em;
}

p a:hover{
  opacity: .8;
}

ol, ul {
  margin-bottom: 24px;
}
hr {
  margin-top: 24px;
  margin-bottom: 24px;  
  border: 0;
  border-top: 1px solid #eee;
}
blockquote {
  max-width: 640px;
  width: 100%;
}

table {
}
table tr {}
table td {}


/* Forms */

INPUT, SELECT, TEXTAREA {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #BEBEBE;
  border-radius: 3px;
  box-shadow: none;
  color: #2E2F33;
  /*[disabled]line-height:1;*/
  padding: 0.5em;
  width: 100%;
}
INPUT:focus, TEXTAREA:focus {
  border: 1px solid #999;
  outline: none;
}
INPUT[type="checkbox"], INPUT[type="image"], INPUT[type="radio"] {
  width: auto;
}
BUTTON, INPUT[type="button"], INPUT[type="reset"], INPUT[type="submit"], .button {
  cursor: pointer;
  width: auto;
}
BUTTON:hover, INPUT:hover[type="button"], INPUT:hover[type="reset"], INPUT:hover[type="submit"], .button:hover {
  color: #FFF;
}
INPUT[type="search"]::-webkit-search-cancel-button, INPUT[type="search"]::-webkit-search-results-button {
  display: none;
}

/* ******************* */
/* Containers & Sections */
/* ******************* */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  position: relative;
}
.section * {
  position: relative;
}
.section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.0);
}
.container {
  position: relative;
  width: 100%;
  max-width: 1360px;
}
.container.tight {
  max-width: 480px;
}
.container.narrow {
  max-width: 960px;
}
.container.wide {
  max-width: 1600px;
}
.container.full {
  max-width: 1920px;
}


/* Video Sections and Containers */

.video-container {
  position: relative;
  left: 0px;
  top: 0px;
  height: 0;
  padding-bottom: 56.25%;
}
.video-container iframe, .video-container video {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;

}
.section.bg-video {
  position: relative;
  background-color: rgba(0,0,0,0.9);
  min-height: 540px;
  opacity: 1;

}
.section.bg-video * {
  position: relative;
  z-index: 2;
}
.section.bg-video .video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.66;
}
.section.bg-video .video-container iframe, .section.bg-video .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}


/* panels */

.panel-default>.panel-heading {
  background-color: #0157ac;
  color: #fff;
  padding: 0px;
}
.panel-default>.panel-heading .panel-title {}
.panel-default>.panel-heading .panel-title a {
  display: block;
  padding: 18px;
}
.panel-default>.panel-heading .panel-title a:after {
  content: '\f13a';
  font-family: "fontawesome";
  float:right;
  font-size: 1.25em;
  top: -3px;
  position: relative;
  opacity: 0.5;
  transition: all 0.125s ease-in-out;
}
.panel .panel-body {
  padding: 36px;
}
.panel-group {}
.panel-group .panel {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: none;
}
.panel-group .panel-default {
  border: none;
}


/* Block Grids ("barrowed" from Foundation!) */

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
  content: " ";
  display: table; }
[class*="block-grid-"]:after {
  clear: both; }
[class*="block-grid-"] > li {
  display: block;
  height: auto;
  float: left;
  padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .small-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .small-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .small-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .small-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .small-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
@media only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .medium-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .medium-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .medium-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .medium-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .medium-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .medium-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .medium-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .medium-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .medium-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .medium-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .medium-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .medium-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .medium-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .medium-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .medium-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .medium-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .medium-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .medium-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
@media only screen and (min-width: 64.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
  .large-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
  .large-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
  .large-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
  .large-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
  .large-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
  .large-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
  .large-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
  .large-block-grid-8 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
  .large-block-grid-9 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
  .large-block-grid-10 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
  .large-block-grid-11 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
  .large-block-grid-12 > li:nth-of-type(1n) {
    clear: none; }
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }



/* Text and Image Blocks */

.block.section > .container {
display: flex;
flex-flow: row wrap;
padding: 0px;
}

@supports (display: grid){
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "img-block text-container";
}
}

.grid-container.image-text {
grid-template-areas: "img-block text-container";
}
.grid-container.text-image {
grid-template-areas: "text-container img-block";
}


/* Text Block */

.text-block {
grid-area: text-container;
color: inherit;
padding: 2em;
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: flex-start;
width: 100%;
}
.text-block .text-block-inner { 
padding: 32px 0px 32px;
width: 100%;
max-width: 540px; 
margin: auto; 
float: left;

}

.grid-container.text-image .text-block {

}


/* Image Block */

.img-block-container {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
}
.img-block-container img {
width: 33.333%;
width: calc(100% / 3);
max-width: 250px;
}
.img-block {
grid-area: img-block;
background-color: rgba(0,0,0,0.0);
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
}
.img-block img, .img-block iframe {
object-fit: cover;
object-position: center;
height: 100%;
width: 100%;
}

.img-block .map {
  min-height: 580px;
}

/* Logo Block */

.logo-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

}
.logo-block img {
  width: auto;
  max-width: 200px;
  margin: 1.5em;
  max-height: 120px;
}


/* ******************* */
/* Utility */
/* ******************* */

.d-block {
  display: block;
}
ul.inline {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
ul.inline > li {
  display: inline-block;
}
.no-margins {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.vert-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}
.slide-wrapper {
  position: relative;
}

.boxshadow {
  box-shadow: 0 6px 16px rgba(0,0,0,.175);
}

/* ******************* */
/* Background Colors */
/* ******************* */

[class*="bg-"]:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.darker-overlay:before{
  opacity: .95;
}

[class*="bg-color"] * {
  color: #fff;
}
.bg-white, .bg-white:before {
  background-color: #fff; 
}
.bg-offwhite, .bg-offwhite:before {
  background-color: #f2f2f2;
}
.bg-offwhite2, .bg-offwhite2:before {
  background-color: #E6E7EA;
}
.bg-color-dark, .bg-color-dark:before {
  background-color: #003466;
}
.bg-color-primary, .bg-color-primary:before {
  background-color: #5F689C;
}
.bg-color-secondary, .bg-color-secondary:before {
  background-color: #e82601;  
}
.bg-color-tertiary, .bg-color-tertiary:before {
  background-color: #2e96c2;  
}
.bg-color-accent1, .bg-color-accent1:before {
  background-color: #f59e12;
}
.bg-color-accent2, .bg-color-accent2:before {
  background-color: #efe8c3;  
}
.bg-color-accent3, .bg-color-accent3:before {
  background-color: #678aa1;
}
.bg-abstract, .bg-color-primary, .bg-color-secondary, .bg-color-tertiary, .bg-offwhite {
  background-image: url("/wp-content/themes/roots/assets/img/abstract-rectangular.jpg");
  background-size: cover;
  background-position: center center;

}
.bg-color-primary-gradient, .bg-color-primary-gradient:before {
  background-color: #5F689C;
  background: rgb(29,125,177);
  background: linear-gradient(180deg, #5F689C 0%, #5F689C 100%);
}

.bg-img-circuitboard.section:before {
  background-image: url("/wp-content/themes/roots/assets/img/circuit-board-bg.jpg");
  background-size: 860px;
  background-repeat: repeat;
  background-position: top center;
  opacity: 0.125;
}

/* ******************* */
/* Buttons */
/* ******************* */

.btn {
  font-size: 1em;
  padding: 0.8em 2em;
  border: 1px solid inherit;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
  border-radius: 100px;
}
.btn * { /* This is super important for icons to adopt the correct colors */
  color: inherit;
}
.btn:hover i {
  color: inherit;
} 
.btn.btn-default {
  background-color: #e7e7e7;
  color: #555;
}
.btn.btn-primary {
  background-color: #5F689C;
  color: #fff;
}
.btn.btn-secondary {
  background-color: #e82601;
  color: #fff;
}
.btn.btn-tertiary {
  background-color: #2e96c2;
  color: #fff;
}
.btn.btn-accent {
  background-color: #f59e12;
  color: #fff;
}

.btn.btn-light {
  background-color: #fff;
  color: #495a6a;
}
.btn.btn-dark {
  background-color: #224159;
  color: #fff;
}
.btn.btn-ghost {
  border: 2px solid #0157ac;
  color: #0157ac;
}
.btn.btn-ghost:hover {
  background-color: #0157ac;
  color: #fff;
}
.btn.btn-ghost-light {
  border: 2px solid #fff;
  color: #fff;
}
.btn.btn-ghost-light:hover {
  color: currentColor;
  background-color: rgba(250,250,250,0.25);
}
.btn.btn-ghost-dark {
  border: 2px solid #5F689C;
  color: #5F689C;
}
.btn.btn-ghost-dark:hover {
  background-color: #5F689C;
  color: #fff;
}
.btn.btn-primary-gradient {
  background-color: #0157ac;
  background: rgb(29,125,177);
  background: linear-gradient(180deg, #5F689C, #5F689C);
  color: #fff;
}
.btn .fa {
  font-size: 1.25em;
  position: relative;
  top: 2px;
  margin-left: 0.33em;
  margin-right: 0.33em;
  color: inherit;
}
.container-link, .container-link a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  font-size: 0px;
  color: transparent;
  transition: all 0.125s ease-in-out;
}
.container-link:hover {
  background-color: rgba(255,255,255,0.33)
}

/* ******************* */
/* Typography */
/* ******************* */

sup {
  top:-0.25em;
}
.heavy, span.heavy {
  font-weight: 700 !important;
}
.caps {
  text-transform: uppercase;
}
.small {
  font-size: 66%;
}
.large {
  font-size: 125%;
}
.extra-large {
  font-size: 150%;
}
.wt-100 {
  font-weight: 100;
}
.wt-200 {
  font-weight: 200;
}
.wt-300 {
  font-weight: 300;
}
.wt-400 {
  font-weight: 400;
}
.wt-500 {
  font-weight: 500;
}
.wt-600 {
  font-weight: 600;
}
.wt-700 {
  font-weight: 700;
}
.wt-800 {
  font-weight: 800;
}
.wt-900 {
  font-weight: 900;
}
.highlight {
  color: #2e96c2 !important;
}
.highlight-primary {
  color: #5F689C !important;
}
.highlight-secondary {
  color: #e82601 !important;
}
.highlight-tertiary {
  color: #2e96c2 !important;
}
.highlight-accent1 {
  color: #f59e12 !important;
}
.highlight-accent2 {
  color: #efe8c3 !important;
}
.highlight-accent3 {
  color: #678aa1 !important;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  color: inherit;
}

/* Titles */

.title, [class*="title-"] {
  display: block;
  letter-spacing: -0.05em;

}
.title:after, [class*="title-"]:after {
  content: '';
}
.text-center .title:after, .title.text-center:after, [class*="title-"].text-center:after, .text-center [class*="title-"]:after {
  margin-left: auto;
  margin-right: auto;
}
.title-primary {
  color: #5F689C;
}
.title-primary:after {
  border-color: #5F689C;
}
.color-bg .title:after {
  border-color: rgba(250,250,250,0.75);
}

.sup-title, .sub-title {
  display: block;
  font-size: 50%;
}

/* ******************* */
/* Icons */
/* ******************* */

.icon {
  color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  background-color: #999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.icon i.fa {
  font-size: 60px;
  position: relative;
}
.icon:hover i.fa {
  color: #fff;
}
.icon.small-icon {
  height: 90px;
  width: 90px;
  border-radius: 90px;
}
.icon.small-icon i.fa {
  font-size: 42px;
}
.icon.large-icon {
  height: 220px;
  width: 220px;
  border-radius: 220px;
}
.icon.large-icon i.fa {
  font-size: 120px;
}
.icon .fa.fa-pie-chart, .icon .fa.fa-bar-chart, .icon .fa.fa-cubes {
  right: -3%;
}
.icon .fa.fa-cubes {
  top: -1%;
}
.icon .fa.fa-balance-scale {
  right: -2%;
}
.icon .fa.fa-sitemap {
  top: -0.07em;
  right: -1%;
}
.icon .fa.fa-play {
  top: -0.033em;
  right: -5%;
}

/* Scroll Top */

.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:20px;
  right:10px; 
}
.scroll-icon {
  position:absolute;
  right:20px;
  bottom:20px;
  color: rgb(255, 255, 255);
  height: 60px;
  width: 60px;
  background-color: #0157ac;
  opacity: 0.85;
  border-radius: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;        
}
.scroll-icon:hover {
  opacity: 0.25;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;        
}
.scroll-icon i {
  margin-bottom: 10px;
  top: -2px;
  position: relative;
  font-weight: 700;
}
.scroll-icon p {
  font-size: 13px;
  line-height: .600;
  margin: 0 0 0px;
  line-height: 1;
  top: -10px;
  position: relative;
}



/* ******************* *//* ******************* */
/* Site Constants - Headers, Navbar, Site Main, Footer, etc. */
/* ******************* *//* ******************* 


/* ******************* */
/* Site Header */
/* ******************* */

.site-header {
  background-color: rgba(0,0,0,0.5);
  height: 0px; /* "auto" = normal height, "0px" = header-overlay */

}
.site-header .container {
  max-width: 1860px;
}

/* Site Logo */

.site-header .logo {
  margin-top: 0px;
}
.site-header .logo__img {
  max-width: 250px;
  max-height: 120px;
}

/* Above Nav / Before Header*/

.before-header {
  display: block;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-right: 30px;
  margin: 0px;
  font-size: 1em;
  position: relative;
  color: #495A68;
  text-align: right;
}
.above-nav * {
  color: #fff;
}
.above-nav:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/abstract-rectangular.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.125;
}
.above-nav .container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.above-nav .container .widget {
  float: left;
  margin-left: 15px;
}
.above-nav p a {
  border-bottom: none;
}
.before-header .phone {
  margin-left: 0.5em;
}

.before-header .widget{
  margin-left: 15px;
}

.before-header ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}


.before-header p{
  margin-top: .7em;
}

.before-header .dropdown.open a{
  display: block;
  padding: .5em 1em;
  transition: .2s ease-in-out;
}

.before-header .dropdown.open a:hover, .before-header .dropdown.open a:active{
  color: white;
  background-color: black;
}

.before-header .dropdown-menu{
  border: none;
  width: 100%;
  margin-top: .5em;
}
/* ******************* */
/* Navigation */
/* ******************* */


/* Main Navigation */
.navbar {
  margin-bottom: 0;   
}

.navbar-default {
  border: none;

}
.navbar-default .navbar-nav>li>a {
  color: #495a6a;
  transition: all 0.125s ease-in-out;
  font-weight: 600;
  padding: 10px 30px;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 22px;
  text-transform: normal;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #495a6a; 
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #495a6a;
  background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a .caret {
  position: relative;
  top: -2px;
}

.navbar-header {
  padding: 0;
  margin-top: -40px;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}


/* Navbar Dividers */

.navbar-default .navbar-nav>li>a:after { 
  content: '';
  display: none; /* change display to "inline-block" to enable */
  height: 1em;
  width: 1px;
  background-color: #d4d4d4;
  transform: rotate(30deg);
  position: relative;
  right: -1.25em;
  top: 3px;

}
.navbar-default .navbar-nav >li:last-child a:after {
  display: none;
}

/* Navbar Call-to-Action Buttons */

.navbar-default .navbar-nav > li.btn {
  padding: 0.8em 1.6em 0.8em;
  margin-left: 24px;

}
.navbar-default .navbar-nav > li.btn > a {
  padding: 0;
  color: #fff;
  line-height: 1.125;

}


/* Navbar Dropdown Menu */

.navbar-nav .dropdown-menu {
  min-width: 240px;
  padding: 5px 10px;
  border: 1px solid rgba(150,150,150,0.125);
  font-family: 'Montserrat', arial, sans-serif;
  border-radius: 5px;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] {
  border-bottom: 1px solid rgba(100,100,100,0.125);
}
.navbar-nav .dropdown-menu [class*="menu-item-"]:last-child {
  border-bottom: none;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a {
  padding-top: 0.66em;
  padding-left: 0.5em;
  padding-bottom: 0.66em;
  color: #777;
}
.navbar-nav .dropdown-menu [class*="menu-item-"] a:hover {
  color: #0157ac;
  background-color: transparent;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: transparent;
  color: #0157ac;
}

/* Mobile Nav */

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(250,250,250,0.25);
    padding-bottom: 15px;
}


/* ******************* */
/* Page Headers */
/* ******************* */

.standard-header {
  background-color: #0157ac;
  padding-top: 160px; /* Compensates for .site-header { height: 0px; } */
  padding-bottom: 36px;
  text-align: left;
  position: relative;

}
.standard-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/metal-hex-bg.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.125;

}
.image-header h1, .standard-header h1 {
  color: #FFF;
  font-size: 60px; 
}
body.no-header .standard-header {
  display: none;
}
body.center-page-header .standard-header {
  text-align: center;
}
.inside-header {
  padding-top: 250px;
  background-color: #E6E7EA;
  position: relative;
}
.inside-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/doctor-testing.jpg");
  background-size: cover;
  background-position: 50% 30%;
  opacity: 0.15;
}



/* Inner Page Custom Headers */

.custom-header {
  background-color: #616264;
  padding-top: 60px;
  padding-bottom: 60px;
}
.custom-background-header {
  position: relative;
}
.custom-header, .custom-background-header * {
  position: relative;
  color: #FFF;
}
.custom-header:before, .custom-background-header:before {
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #264e6c;
  opacity: 0.33;

}
.custom-header .lead {

}
.custom-header .lead a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.125em;
  border-bottom: 1px dotted currentColor;
}
.custom-header .title {
  color: #fff;
}
.custom-header .lead a:hover {
  color: inherit;
}



/* ******************* */
/* Site Main */
/* ******************* */

.site-main.wrapper {
padding-top: 72px;
padding-bottom: 72px;
background-color: #FFF;
}

body.site-main-no-padding .site-main.wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
}
body.home .site-main.wrapper {
  padding-top: 0;
  padding-bottom: 0;
}




/* ******************* */
/* Footer */
/* ******************* */

.site-footer {
  background-color: #5F689C;
  font-size: 1em;
  position: relative;
}
.site-footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/pattern.jpg");
  background-size: 800px;
  background-position: center center;
  opacity: .25;
  background-repeat: repeat;
}
.site-footer * {
  color: rgba(250, 250, 250, 1);
}

/* Footer Upper */

.site-footer .footer-upper {
  padding-top: 60px;
  padding-bottom: 36px;
}
.site-footer img.logo {
  max-width: 260px;
  margin-bottom: 24px;
  width: 100%;
  top: 0px;
    position: relative;
}
.footer-upper {
  padding-top: 4em;
  padding-bottom: 0em;
}
.footer-upper .widget {
  margin-bottom: 42px;
}
.footer-upper .widget h3 {
  color: rgba(250, 250, 250, 1);
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-upper .widget a {
  color: rgba(250, 250, 250, 1);
  font-weight: 400;
}
.footer-upper .widget .menu {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget .menu [class*='menu-item']{
  font-size: 1em;
  font-weight: 400;
  line-height: 2;
}
.footer-upper .widget .menu [class*='menu-item'] a {
  text-decoration: none;
  font-weight: 400;
  opacity: 1;
}
.footer-upper .widget .menu [class*='menu-item'] a:hover {
  color: inherit;
  opacity: 1;
}
.footer-upper .widget .menu [class*='menu-item'] .dropdown-menu, .footer-upper .widget .menu [class*='menu-item'] .dropdown-toggle .caret {
  display: none; /* No dropdown menus in footer */

}
.footer-upper .widget[class*='recent-posts'] {

}
.footer-upper .widget[class*='recent-posts'] ul {
  list-style-type: none;
  padding-left: 0em;
}
.footer-upper .widget[class*='recent-posts'] ul li {
  margin-bottom: 1em;
}

/* Footer Bottom */

.site-footer .footer-bottom {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 24px;
  background-color: transparent;
}
.site-footer .footer-bottom * {
  opacity: 0.75;
}
.site-footer .footer-bottom p {
  margin-bottom: 0;
}



/* ******************* *//* ******************* */
/* Blog */
/* ******************* *//* ******************* */


/* Blog Index */

body.blog .standard-header {
  text-align: center;
}
body.blog .site-main.wrapper {

}
/*
body.blog .site-main.wrapper .container {
  max-width: 1024px;
  width: 100%;
}
<<<<<<< Updated upstream
body.blog .sidebar {}
body.blog .sidebar .widget {
  margin-bottom: 48px;

}
body.blog .sidebar .widget h3 {
  font-size: 1.5em;
}


/* Blog Sidebar Widgets */

body.blog .sidebar .widget_recent_entries, body.blog .sidebar .widget_recent_comments, body.blog .sidebar .widget_archive, body.blog .sidebar .widget_categories, body.blog .sidebar .widget_meta {

}
body.blog .sidebar .widget_recent_entries > ul, body.blog .sidebar .widget_recent_comments > ul, body.blog .sidebar .widget_archive > ul, body.blog .sidebar .widget_categories > ul, body.blog .sidebar .widget_meta > ul {
  list-style-type: none;
  padding-left: 0px;
  
}

/* Post Index */


=======
*/
>>>>>>> Stashed changes
body.blog .post {
  padding-bottom: 24px;
  margin-bottom: 48px;
  border-bottom: 1px solid rgba(0,0,0,0.125);

}
body.blog .post .entry-title {
  margin-bottom: 16px;
}
body.blog .post .published, body.blog .post .author {
  color: #999;
  font-size: 14px;
}
body.blog .post .published {}
body.blog .post .author {
  margin-bottom: 16px;
}

.pager li > a, .pager li > span {
  font-size: 1em;
  padding: 0.8em 2em;
  border: 1px solid inherit;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
  border-radius: 100px;
}


/* Single Post */

body.single.post-template-default .site-main.wrapper {}
body.single.post-template-default .site-main.wrapper .container {
  max-width: 800px;
  width: 100%;
}

body.single .post .entry-title {
  margin-bottom: 16px;
  font-size: 48px;
}
body.single .post .published, body.single .post .author {
  color: #999;
  font-size: 14px;
}
body.single .post .published {}
body.single .post .published:before {
  content: 'Posted ';
}
body.single .post .author {
  margin-bottom: 36px;
}


/* Single Post Headers */

body.single .standard-header {
  background-color: #003466;
  padding-top: 36px;
  padding-bottom: 36px;
  display: none;

}
body.single .standard-header .container {
  width: 100%;
  max-width: 960px;
}
body.single .image-header h1, body.single .standard-header h1 {
  color: #FFF;

}
body.single .entry-content p {
  margin-bottom: 24px;
}



/* Single Post Headers */

.single-post #comments .alert-warning {
  display: none;
}

/* ******************* *//* ******************* */
/* Widgets */
/* ******************* *//* ******************* */

.widget.widget_recent_entries {

}
.widget.widget_recent_entries .post-date {
  display: block;
  opacity: 0.75;
}




/* ******************* */
/* Site Sections */
/* ******************* */

/* Hero Sections */

.hero.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 480px;
  overflow: hidden;
  background-color: #E6E7EA;
  background-image: url("/wp-content/themes/roots/assets/img/Madhu-hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero.section:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #E6E7EA;
  opacity: 0.8;
  z-index: 0;
}
.hero .text-block {

}
.hero .img-block {

}
.hero .text-block p.desc {
  margin-bottom: 32px;
}
.hero.section .btn {
  margin-left: 5px;
  margin-right: 5px;
}


/* Sliders */

.slide-text{
  position: relative;
  animation: slide .5s; 
  padding: 42px;
  border-radius: 5px;
  /* box-shadow: 0 6px 36px rgba(0,0,0,.125); */
}
@keyframes slide{
  0%{
    right: -100px;
    opacity: 0;
  }
  100%{
    right: 0px;
    opacity: 1;
  }
}


/* Home Slider */

.home .homeSlider .section {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 540px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
  background-color: #224159;
}
.homeSlider .section * {
  text-shadow: 0 0px 36px rgba(0,0,0,0.25)
}
.homeSlider .section:before {
  background-color: rgba(0,0,0,0.25);
}

.homeSlider .title {
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 24px;
}
.homeSlider .title:after {
  margin-top: 16px;
}
.homeSlider .sup-title {
  font-size: 40%;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 10px;

}
.homeSlider .lead {
  margin-bottom: 32px;
  font-size: 18px;
}
.homeSlider .btn {
  font-size: 16px;
}



/* .homeSlider.slide-1 .slide-text, .homeSlider.slide-2 .slide-text {
float: right; */


/* Home Page */

.home .hero.section {
  padding-top: 250px;
  padding-bottom: 125px;
  min-height: 680px;

}
.home .hero.section .title {
  margin-bottom: 24px;
}
.home .hero.section .desc {
  margin-bottom: 32px;
}
.home .hero.section .btn {
  font-size: 1em;
}


/* ******************* */
/* Solutions Wrap Sections */
/* ******************* */

.solutions-wrap.section {}
.solutions-wrap.section .col-sm-4 {
  padding-bottom: 0;
}
.solutions-wrap.section .link {
  font-weight: 700;
  text-transform: uppercase;
}



/* Case Study Section */

.case-study.section .text-block {
  background-color: #f5f5f5;

}
.case-study.section .text-block:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/wp-content/themes/roots/assets/img/scratched-metal-bg.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.33;
}



/* Services Section */

.services.section {
  
}
.services.section .services-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.services.section .services-list .service-single {
  width: 48%;
  border-bottom: 1px solid rgba(0,0,0,0.125);
}
.services.section .services-list .service-single .service-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.33em;

}
.services.section .services-list .service-single .service-title a {
  color: #495a6a;
  display: block;
  position: relative;
  padding: 0.75em 2.5em 0.75em 0em;
  
}
.services.section .services-list .service-single .service-title .svg-inline--fa  {
  float: right;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  opacity: 0.5;
}


/* Forms Section */

.forms.section {

}
.forms.section .form-container {

}
.forms.section .form-container .svg-inline--fa {
  font-size: 120px;
  margin-bottom: 18px;
}


/* Featured Posts */

.featured-posts.section [class*="title-"] {
  margin-bottom: 48px;
}




/* Contact */

.contact-information.section {

}

.contact-information.section .option {}

.contact-information.section .option .icon {
  background-color: transparent;
  color: rgb(60, 141, 197) !important;
  height: 90px;
  margin-top: 0;
}
.contact-information.section .option .title:after {
  border-color: rgb(60, 141, 197);
}


/* Overview Sections - This could be removed probably */

.overview-outer {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}
.overview-outer .container {
  width: 100%;
}
.overview-outer .overview-head.title {
  margin-bottom: 32px;
}

.overview-inner {
  display: flex;
  width: 100%;
  justify-content: center;;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
}
.overview-inner .overview-single {
  width: 100%;
  max-width: 360px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.overview-inner .overview-single img {
  margin-bottom: 24px;
}
.overview-inner .overview-single .icon {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  background: rgb(29,125,177);
  background: linear-gradient(180deg, rgba(29,125,177,1) 0%, rgba(38,78,108,1) 100%);
  margin-bottom: 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.95;
}
.overview-inner .overview-single .icon img {
  margin-bottom: 0px;
  width: 90%;
  position: relative;
  right: -1px;
}
.overview-inner .overview-single .icon i.fa {
  color: #fff;
  font-size: 60px;

}
.overview-inner .overview-single .icon i.fa-lightbulb-o {
  font-size: 80px;
}
.overview-inner .overview-single h4 {
  font-size: 21px;
  margin-bottom: 16px;
}
.overview-inner .overview-single p {}
.overview-inner .overview-single a {}



/* Team Page Section */

.team.section {

}
.team.hero.section {
  padding-top: 24px;
  padding-bottom: 24px;
}
.team.section .img-block-container {

}
.team.section .img-block-container .team-member {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;

}
.team.section .img-block-container .team-member img {
  width: 100%;
}
.team.section .img-block-container .team-member .name {
  margin-bottom: 10px;
  color: #1d7db1;
}
.team.section .img-block-container .team-member .position {
  font-style: italic;
}



/* Team Plugin Section */

.team-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
}
.team-wrapper .team-single {
  text-align: center;
  width: calc(100%/5);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 42px;    
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.team-wrapper .team-single .team-inner {
  position: relative;
  display: inline-block;
}
.team-wrapper .team-single .team-inner a {
  color: #fff;
}
.team-wrapper .team-single .team-inner a:before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.team-wrapper .team-single .team-thumb {
  border-radius: 1px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.team-wrapper .team-single .team-caption {
  position: relative;
  width: 100%;
  text-align: center;
}
.team-wrapper .team-single .team-caption .name {
  margin-bottom: 10px;
  color: #1d7db1;
}
.team-wrapper .team-single .team-caption .position {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #777;
  opacity: 1;
  font-style: italic;
}
.team-wrapper .team-single .team-caption .learn-more {
  display: none;
}
.team-wrapper .team-single .team-caption p {
  margin-bottom: 0px;
}

.team-wrapper .team-single .team-caption .team-inner-left {
  width: 70%;
  float: left;
  text-align: left;
  font-size: 12px;
}
.team-wrapper .team-single .team-caption .team-inner-right {
  width: 30%;
  float: left;
  text-align: right;
  font-size: 12px;
}

/* Team Modal Popout */ 

.iziModal {
  width: 90%;
  margin: auto;
}
.iziModal-overlay {
  background-color: rgba(0, 0, 0, 0.85) !important;
}
.iziModal .iziModal-content {
  overflow: auto;
}

.iziModal .iziModal-content img {
  max-width: 200px;
  height: auto;

}
.media .grid-container {
  grid-template-columns: 33.333% 66.666% ;
}
.media .grid-container .img-block { 
  justify-content: flex-start;
  padding: 8px;
}
.media .grid-container .text-block {
  padding: 15px;
}
.media .grid-container .text-block .name {
  margin-top: 0;
  margin-bottom: 8px;
  color: #1d7db1;
  font-size: 42px;
}
.media .grid-container .text-block .position {
  margin-top: 0;
  margin-bottom: 24px;
  color: #777;
  opacity: 1;
  font-style: italic;
}
.media .grid-container .text-block .media-body {
  width: 100%;
  max-height: 420px;
  overflow: scroll;
  color: #333;
  font-weight: 400;
  font-size: 16px;
}



/* FAQs */

#faq-accordion .panel-default>.panel-heading {}
#faq-accordion .panel .panel-heading h3 a {
  padding: 1em;
}
#faq-accordion .panel .panel-heading h3 a:after {
  content: '\f13a';
  font-family: "fontawesome";
  float:right;
  font-size: 1.25em;
  top: -3px;
  position: relative;
  opacity: 0.5;
  transition: all 0.125s ease-in-out;
}
#faq-accordion .panel .panel-heading h3 a:hover:after { 
  opacity: 1;
}
#faq-accordion .panel-default>.panel-heading .panel-title{}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  padding: 1.25em;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body p {}



/* Testimonial Section */

.testimonials.section {

}
.testimonials.section .container {


}
.testimonials.section .testimonials-single {
  padding: 15px;
  margin-bottom: 24px;
  border-bottom: none;
}

.testimonials.section .container blockquote {

  margin-bottom: 48px;
  position: relative;
  border: none;
  padding: 1.5em;

}
.testimonials.section .container blockquote:before {
  content: '"';
  color: #777;
  font-size: 10em;
  line-height: 1;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute; 
  top: 0;
  left:0;
  text-align: center;
  font-weight: 600;
  transform: translate(-33%,-10%);
  opacity: 0.125;

}
.testimonials.section .container blockquote p {

}
.testimonials.section hr {
  margin-top: 48px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: auto;
  }
}


/* ******************* */
/* Testimonials Page */
/* ******************* */

.testimonials.section .testimonials-wrapper {
  display: flex;
  flex-flow: row wrap;

}
.testimonials.section .testimonials-wrapper .testimonial-single {
  width: 50%;
  padding: 30px;
}

.testimonials.section .testimonials-wrapper .testimonial-single .quote {

}
.testimonials.section .testimonials-wrapper .testimonial-single .author {
  color: #1d7db1;
}



/* ******************* */
/* Call to Action Sections */
/* ******************* */

.call-to-action.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.call-to-action.section:before {
  /*background-image: url("/wp-content/themes/roots/assets/img/circuit-board-bg.jpg");
  background-size: 860px;
  background-repeat: repeat;
  background-position: top center;
  opacity: 0.125;*/
}
.call-to-action .row {
  display: flex;
}

.call-to-action.section .employee-img {
  position: absolute;
  bottom: -82px;
  right: 16px;
  margin-bottom: 0;
  max-width: 300px;
}
.call-to-action.section .btn {
  
}
.call-to-action.section .btn.btn-light {
  color: #0157ac;
}
.call-to-action.section .icon {
  background-color: transparent;
  padding: 0px;
  color: inherit;
  height: auto;
  width: auto;
  margin-bottom: 36px;
}
.call-to-action.section .icon svg {
  font-size: 120px;
  color: #5F689C;
}

/* ******************* *//* ******************* */
/* Plugin Overrides */
/* ******************* *//* ******************* */


/* ******************* */
/* Widgets on Pages */
/* ******************* */

.widgets_on_page ul {
  padding-left: 0px;
}
.widgets_on_page > ul, .widgets_on_page > ul li {
  margin-bottom: 0px;
}


/* ******************* */
/* Formidable */
/* ******************* */

.frm_style_formidable-style.with_frm_style select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
}
.frm_style_formidable-style.with_frm_style select + i.fa {
  color: #00abd6;
  font-size: 1.5em;
  float:right;
  pointer-events: none;
  position: relative;
  top: -39px;
  right: 12px;
}
.frm_style_formidable-style.with_frm_style .frm_submit button {
  border-bottom: 5px solid rgba(0,0,0,0.125) !important;
  -moz-border-radius: px !important;
  -webkit-border-radius: 8px !important;
  -khtml-border-radius: 8px !important;
  border-radius: 8px !important;
}




/* ******************* */
/* Gravity Forms */
/* ******************* */



.gform_wrapper {
  font-size: 1rem;
}
.gform_wrapper .gform_heading {
}

/*Progress Bar - Custom Styles*/

.gform_wrapper .gf_progressbar_wrapper {
  padding: 1em 2em 1.8em !important;
  background-color: #FDFDFD;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.125) !important;
}
.gform_wrapper .gf_progressbar_wrapper H3.gf_progressbar_title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125em !important;
  text-align: center;
  display: block;
}
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar {
  border: 0px solid #FFFFFF;
  /*+border-radius: 2.3em;*/
  -moz-border-radius: 2.3em;
  -webkit-border-radius: 2.3em;
  -khtml-border-radius: 2.3em;
  border-radius: 2.3em;
  background: #E0E0E0 url(repeat);
  /*+box-shadow: 0px 0px rgba(99, 99, 99, 0.25);*/
  -moz-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  -webkit-box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  box-shadow: 0px 0px rgba(99, 99, 99, 0.25);
  margin-top: 1em;
  height: auto;
}
/*[clearfix]*/
.gform_wrapper .gf_progressbar_wrapper .gf_progressbar .gf_progressbar_percentage {
  height: 100%;
  background: #0072BC url(repeat);
}
.gform_wrapper .gf_progressbar_percentage SPAN {
  height: 100%;
  line-height: 1.5;
  font-weight: 900 !important;
  font-size: 1em;
  /*+text-shadow:none;*/
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.99);
  margin: 0.3rem 0.8rem 0.3rem 0.9rem !important;
}


/*Paged Forms*/

.gform_wrapper .gform_body {
}
.gform_wrapper .gform_page {
}


/*Field Containers*/

.gform_wrapper .gsection {
  padding: inherit !important;
}
.gform_wrapper .gform_fields {
}
.gform_wrapper .gform_fields .gfield {
}
.gform_wrapper .gform_fields .gfield.left, .gform_wrapper .gform_fields .gfield.right {
  clear: none;
}
.gform_wrapper .gform_fields .gfield_label {
  margin-bottom: 0.5rem;
}
.gform_wrapper .gform_fields .gfield_description {
}
.gform_wrapper .gform_fields .gfield INPUT, .gform_wrapper .gform_fields .gfield SELECT, .gform_wrapper .gform_fields .gfield TEXTAREA {
  padding: 0.5em;
}
.gform_wrapper .gform_fields .gfield INPUT {
}
.gform_wrapper .gform_fields .gfield SELECT {
}
.gform_wrapper .gform_fields .gfield TEXTAREA {
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
  color: #2E2F33;
}
.gform_wrapper .gform_fields .gfield INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  color: #8A8A8A;
  font-weight: bold;
  padding: 0.4em;
  line-height: 1.5;
}
.gform_wrapper .gform_fields .ginput_container {
  margin-top: 0px !important;
}
.gform_wrapper .gform_fields .ginput_complex LABEL {
  /*[disabled]font-style:italic;*/
  /*+opacity: 80%;*/
  -filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-size: 0.8em;
  letter-spacing: 0;
}
.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
  width: 47.85% !important;
}
.gform_wrapper UL.gfield_checkbox, .gform_wrapper UL.gfield_radio {
}
.gform_wrapper UL.gfield_checkbox LI, .gform_wrapper UL.gfield_radio LI {
  overflow: visible !important;
}
.gform_wrapper UL.gfield_checkbox LI LABEL, .gform_wrapper UL.gfield_radio LI LABEL {
  font-weight: normal;
}
.gform_wrapper UL.gfield_checkbox LI INPUT[type=checkbox]:checked + LABEL, .gform_wrapper UL.gfield_radio LI INPUT[type=radio]:checked + LABEL {
  font-weight: 700;
}
.gfield_description + .ginput_container_checkbox, .gfield_description + .ginput_container_radio {
  padding-top: 0.5em;
}
.gform_wrapper .gform_footer INPUT.button, .gform_wrapper .gform_footer INPUT[type=submit] {
  color: #FFFFFF;
  font-family: inherit;
  width: auto;
  min-width: 25%;
  background-color: #8086AD;

  padding: 0.8em 2.5em; 
  border-radius: 50px;
  border: none;
  transition: all 0.125s ease-in-out;
}

/*Controler Icons*/

.gform_wrapper TABLE.gfield_list TD.gfield_list_icons IMG {
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0.6em;
  margin-left: 0px !important;
  margin-right: 0px;
}
.gform_wrapper .gform_fields .gfield INPUT.gform_button_select_files {
  cursor: pointer !important;
}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area {
  background-color: #FFFFFF;
}

/*Form Footer Controls*/

.gform_wrapper .gform_page_footer {
  background-color: #F9F9F9;
  padding: 1em !important;
  border: 1px solid rgba(83, 83, 83, 0.125) !important;
  /*+border-radius: 2px;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.gform_wrapper .gform_page_footer INPUT.button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #8A8A8A;
}
.gform_wrapper .gform_page_footer INPUT.gform_next_button {
}
.gform_wrapper .gform_page_footer .gform_save_link {
  background-color: #9C9C9C;
  padding: 0.6em 0.8em;
  color: #FFFFFF !important;
  /*+border-radius: 3px;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  /*+placement: shift 0px -2px;*/
  position: relative;
  left: 0px;
  top: -2px;
  text-decoration: none;
  font-size: 0.9em;
  /*+opacity: 85%;*/
  -filter: alpha(opacity=85);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
}
.gform_wrapper .gform_page_footer .gform_save_link:hover {
  /*+opacity: 100%;*/
  -filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}


/*Saved Form Message*/

.gform_wrapper .form_saved_message {
  background-color: #F9F9F9 !important;
  border: 7px solid rgba(97, 97, 97, 0.125) !important;
  font-size: 1.125em !important;
  line-height: 1.5 !important;
}
.gform_wrapper .form_saved_message INPUT[type="email"] {
  width: 100%;
  max-width: 540px;
  padding: 0.7em;
  text-align: center;
}
DIV.form_saved_message DIV.form_saved_message_emailform FORM INPUT[type=submit] {
  font-size: 1em;
  padding: 0.7em;
  text-transform: uppercase;
  color: #7B7B7B;
  font-weight: bold;
  max-width: 540px;
  width: 100%;
}

/*Mobile Layout Fixes*/

@media screen and (max-width: 991px) {
  .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_half, .gform_wrapper .gform_fields.top_label LI.gfield.gf_left_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_middle_third, .gform_wrapper .gform_fields.top_label LI.gfield.gf_right_third {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .gform_wrapper LI.gfield.gf_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_2col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_2col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_3col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_3col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_4col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_4col UL.gfield_radio LI {
    width: 100% !important;
  }
  .gform_wrapper LI.gfield.gf_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_5col UL.gfield_radio LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_checkbox LI, .gform_wrapper LI.gfield.gf_list_5col UL.gfield_radio LI {
    width: 100% !important;
  }
}


/* ******************* */
/* Simple Social Icons */
/* ******************* */

.simple-social-icons UL, .simple-social-icons UL LI:first-child {
  margin-left: 0px !important;
  color: #1B75BB;
}
.simple-social-icons LI { 

}
.simple-social-icons LI A {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  padding: 0px;
  transition: all 0.33s ease-in-out;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  position: relative;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
  text-shadow: none;
  font-size: 0.8rem !important;
}
.simple-social-icons LI A:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  -khtml-border-radius: inherit;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.simple-social-icons LI A:hover {
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}


/* Simple Social Icons - Above Header */

.before-header .widget.simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] * {
  color: #333; !important;
}
.before-header .widget.simple-social-icons ul li[class*="ssi-"] a, .before-header .widget.simple-social-icons ul li[class*="ssi-"] a:hover {
  padding: 0.33em;
  background-color: #fff !important;
}


/* Simple Social Icons - Footer */
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] {
  margin-bottom: 0px !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] * {
  color: #235d83 !important;
}
.footer-main .widget .simple-social-icons ul li[class*="ssi-"] a {
  padding: 0.33em;
  background-color: #fff !important;
}



/* ******************* */
/* Content Views - Posts */
/* ******************* */

.pt-cv-wrapper .btn {
  margin-top: 15px;
}
.pt-cv-view {

}
.pt-cv-view .pt-cv-href-thumbnail {

}
.pt-cv-view .pt-cv-href-thumbnail .pt-cv-thumbnail {
  object-position: center;
  object-fit: cover;
  height: 250px;
  margin-bottom: 24px !important;

}


/* LMcQ Code */

.glasses-fitting-bg{
  background: url("/wp-content/themes/roots/assets/img/glasses-fitting-bg.jpg") 50% 50% / cover;
}

.location .bg-color-primary{
  background-image: none;

}

.location .bg-color-primary:before{
  content: '\f041';
  font-family:'FontAwesome';
   color: white;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 600px;
  opacity: .04;
}

.services-template-default article header{
  display: none;
}

.services-template-default .content{
  max-width: 800px;
  margin: auto;

}


.gallery-list li, .gallery-list-3 li{
  list-style-type: none;
  margin: 15px;
  max-width: 250px;
}

.gallery-list{
  display: flex;
  flex-wrap: wrap;
}

.gallery-list-3{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between
}

.gallery-section{
  max-width: 880px;
  margin: auto;
}

.testimonial .bg-color-primary{
  background-image: none;
}

.testimonial .quote{
  font-size: 1.5em;
  position: relative;
}

.testimonial .quote:before{
  content: '"';
  font-size: 5em;
  position: absolute;
  left: -40px;
  line-height: .6em;
  font-style: italic;
  opacity: .3;
}

.testimonial .reviews li{
  list-style-type: none; 
  margin-left: 0;
  margin-right: 30px;
}

.testimonial .reviews{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.testimonial p{
  margin-bottom: 1.5em;
}

.featured-posts img{
  margin-bottom: 1em;
}

.featured-posts .subtitle{
  margin-bottom: 2em;
}

.before-header button{
  display: none;
}

.home .before-header button{
  display: block;
}



/* ******************* *//* ******************* */
/* Media Queries */
/* ******************* *//* ******************* */

@media only screen and (max-width:1360px) {
  .site-header .logo {
    max-width: 160px;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  .site-footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1023px) {
  .text-block .text-block-inner{
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .grid-container, .grid-container.text-image, .grid-container.image-text {
    grid-template-areas: 
      "img-block img-block"
      "text-container text-container";

  }   
  .grid-container .text-block, .grid-container.text-image .text-block, .grid-container.image-text .text-block {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  .grid-container .text-block .text-block-inner, .grid-container.text-image .text-block .text-block-inner, .grid-container.image-text .text-block .text-block-inner {
    padding: 0px;
    margin: auto;
  }

  .image-header h1, .standard-header h1 {
    font-size: 60px;
  }


  .hero {
    max-height: none;

  }
  .hero .text-block {
    max-height: none;
  }

  .slide-text {
    padding: 15px;
  }

  /* Home Page Sections */

  .home .homeSlider .section {
    min-height: 0;
  }

}
@media only screen and (max-width: 767px) {

  body { font-size: 17px; }

  h1 { font-size: 2.625em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1em; }
  h5 { font-size: 0.66em; }
  h6 { font-size: 0.5em; }

  .btn {
    font-size: 0.9em;
  }
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  
  .before-header {
    padding-right: 0;
    padding-top: 0;
    font-size: 12px;
    margin-right: -15px;
    margin-left: -15px;
  }
  .before-header .widget {
    width: 100%;
    margin: 0px;
  }
  .before-header .dropdown-toggle {
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0;
  }
  .before-header p.contact {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    text-align: center;
    display: none;
  }
  .header__wrap {
    padding-top: 32px;
  }
  .home .header__wrap {
    padding-top: 20px;
  }
  .site-header .logo__img {
    max-width: 130px;
    top: 0px;
    position: relative;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: rgba(250, 250, 250, 0.9);
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar-header {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -30px;
  }
  .navbar-nav {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #5F689C;
  }

  .site-main.wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .inside-header {
    padding-top: 120px;
  }

  body.single .post .entry-title {
    font-size: 36px;
  }
  .team-wrapper .team-single {
    width: calc(100% / 2);
  }
  .iziModal {
    width: 90%;
    margin: auto;
    top: 45px !important;
    max-height: 85vh;
  }

  .home .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .home .hero.section {
    padding-top: 200px;
    padding-bottom: 60px;
  }
  .hero.section .title {
    font-size: 36px;
  }
  .home .hero.section .title br, .home .hero.section .desc br {
    display: none;
  }
  .home .hero.section .btn {
    width: 100%;
    max-width: 480px;
    margin-bottom: 10px;
  }
  .introduction-wrap.section .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .introduction-wrap.section .video-container {
    margin-bottom: 24px;
  }

  .services.section .services-list .service-single {
    width: 100%;
  }
  .services.section .services-list .service-single .service-title {
    font-size: 1.25em;
  }
  .testimonial .quote {
    font-size: 1.125em;
    padding-left: 1em;
  }
  .testimonial .quote:before {
    left: -10px;
  }
  .testimonial .reviews {
    flex-wrap: nowrap;
  }
  .logo-block img {
    max-width: 100px;
  }
  .featured-posts.section h4 {
    font-size: 1.5em;
  }
  .img-block .map {
    min-height: 460px;
  }
  .call-to-action.section .icon {
    margin-bottom: 24px;
  }
  .call-to-action.section .icon svg {
    font-size: 90px;
  }
  .site-footer {
    font-size: 16px;
  }
  .site-footer .footer-upper {
    padding-top: 36px;
    padding-bottom: 0;
  }
  .footer-upper .widget h3 {
    margin-bottom: 18px;
  }

  .forms.section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .testimonials.section .testimonials-single {
    padding-left: 0;
    padding-right: 0;
  }
  body.blog .post {
    margin-bottom: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
  }

}
@media only screen and (max-width: 480px) {

  /* Site Logo */

  .site-header .logo {
    max-width: 100px;
    margin-top: 0px;
  }
  .team-wrapper .team-single {
    width: calc(100% / 1);
  }

  /* Above Nav */

  .above-nav {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .above-nav .container .widget {
    margin-left: 8px;
  }
  .above-nav .container .widget #contact_info {
    display: none;
  }
  .above-nav .simple-social-icons ul li {
    margin: 0 3px !important;
  }

  /* Above Header */

  .above-header .connect {
    justify-content: space-between;
    float: none;
  }
  .above-header .connect li {
    margin-right: 0px;
    margin-left: 0px;
  }
  .above-header .connect li:first-child {
    margin-right: auto;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .above-header .connect .simple-social-icons ul li[class*="ssi-"] a, .above-header .connect .simple-social-icons ul li[class*="ssi-"] a:hover {
    font-size: 14px !important;
    padding: 0.4em;

  }

  /* Headers */

  .standard-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .image-header h1, .standard-header h1 {
    font-size: 24px;
  }

  /* Testimonials */

  .testimonials.section .container blockquote {
    width: 100%;
    width: calc(100% / 1);
    margin-bottom: 24px;
  }

  /* Home Page Sections */


  .slide-text {
    padding: 0px;
  }

  .what-we-offer.section .services-list li {
    width: 100%;

  }

  .pt-cv-wrapper .pt-cv-content-item {
    padding-bottom: 48px;
  }

  /* Service Page Templates */

  .service-list-wrapper .service-single {
    width: 100%;
    max-width: 320px; 
  }

}


